/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.navbar-scrolled {
  background-color: #555;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff9800;
}

/* Section Styling */
.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background-color: #dc6a6a;
}

.about {
  background-color: #b24ba1;
}

.services {
  background-color: #bbbbbb;
}

.contact {
  background-color: #999;
}
